[Unit]
Description=Auto Installation
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/root/sge/auto.sh

[Install]
WantedBy=multi-user.target
